@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Inventory Tracking App</h1>
    <p>Input the products needed with their deadlines and it allocate and order new resources for them.</p>
</div>
